*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --footer: #282828
}


/* DEBUG */

.debug .side-bar{
  background-color: cornflowerblue;
}

.debug .content{
  background-color: aquamarine;
}

.debug .navbar{
  background-color: green;
}

.debug .cover-container{
  background-color: pink;
  height: 200px;
}

.debug .side-bar .top{
  background-color: lightblue;
}

.debug .side-bar .bottom{
  background-color: lightskyblue;
}



/* COMMON */

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.direction-column{
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}

.overflow-s{
  overflow-y: auto;
}

.overflow-h{
  overflow-y: hidden;
}


/* OTHER */

/* ----main */

main{
  height: calc(100vh - 6rem);
  min-height: 20rem;
}

.side-bar{
  width: 3.2rem;
}

.side-bar .top{
  height: calc(100% - 6rem);
}

.side-bar .bottom{
  height: 6rem;
}

.side-nav-list img,
#logo{
  width: 1.3rem;
}

.install-app img{
 width: 1rem;
}

.profile-name img{
  width: 1.2rem;
}

.mobile-hidden{
  display: none;
}

.content{
  width: calc(100% - 3.2rem);
  padding: 0 1.25rem 1.25rem 1.25rem;
}

.cta{
  position: fixed;
  height: 5rem;
  left: 3.2rem;
  top: 0;
  width: calc(100% - 3.2rem);
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar{
  margin-top: 5rem;
}

section{
  padding-top: 2.5rem;
}

ul{
  list-style: none;
}

.cover-list{
  margin: 0 -0.5rem;
}

.cover-item{
  padding: 0.5rem;
  width: 50%;
}


/* ----footer */

footer{
  height: 6rem;
  background-color: var(--footer);
}



/* MEDIA QUERIES */


/* small - da 576px */
@media screen and (min-width:576px){

  .side-bar{
    width: 13rem;
  }

  .mobile-hidden{
    display: inline-block;
  }

  .side-playlist{
    margin-top: 1rem;
  }

  .side-playlist i{
    font-size: 2rem;
  }

  .content{
    width: calc(100% - 13rem);
  }

  .cta{
    left: 13rem;
    top: 0;
    width: calc(100% - 13rem);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
}


/* medium - da 768px */
@media screen and (min-width:768px){

  .cover-item{
    width: 25%;
  }

}


/* large - da 992px */
@media screen and (min-width:992px){

  .cover-item{
    width: calc(100% / 6);
  }
  
}

